src/main/mule/get-employee-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-employee-by-idFlow" doc:id="15fee750-23f2-450b-8789-47ca6dba86f2" >
		<http:listener doc:name="Get Employee Listener" doc:id="549ef0cf-3f59-461d-b5b0-b205855ed2aa" config-ref="HTTP_Listener_config" path="get-employee"/>
		<logger level="INFO" doc:name="Start Log" doc:id="312d4e59-ea1f-4968-864a-91fedff4c751" message="Started get employee by id flow"/>
		<db:select doc:name="Select Employee" doc:id="cdae4d1c-faa3-44b7-8ab8-e91f8a564090" config-ref="Database_Config">
			<db:sql ><![CDATA[select emp_id, emp_name, emp_status from emp where emp_id =:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID : attributes.queryParams.employeeID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Set Response" doc:id="90ad4ad6-7895-4ca9-8638-1367cf2a4ece" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	employeeID: payload[0].emp_id,
	employeename: payload[0].emp_name,
	employeestatus: payload[0].emp_status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="27fbde6f-2857-4124-bbf7-5b89b3290113" message="Completed get employee flow"/>
	</flow>
</mule>
